
body, html{
  height:100%;
  background: url(https://i.imgur.com/lQur6Iy.jpg);
  background-size: cover;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #0fd392;
  text-decoration: none
}

h3{
  display: inline;
  color: #0fd392;
}
.title, .addDancerButton, .lineUpButton, .runAwayButton{
  padding:5px 12px;
  float:right;
}
.title {
  color: black;
}
.topbar{
  height:32px;
  background-color: white;
  opacity: 0.75;
}
/*.title{
  background-color: #777;
}*/

.dancefloor{
  margin: auto;
  padding: 50px 50px;
  height: 50%;
  width: 75%;
  position: relative;
}

/*edit the .dancer class so that images are automatically resized*/
.dancer{
  position:absolute;
  height: 100px;
  width: 100px;
}

.octocatDancer {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.objDancer {
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

/*.hidethis {
  left: 100px;
  top: 250px;
  position: relative;
}*/

@keyframes slidein {
  from {
    left: 60%;
    width: 50%;
  }
  to {
    left: 0%;
    width: 50%;
  }
}

@keyframes slidein {
  from {
    left: 0%;
    width: 100%;
  }
  to {
    left: 70%;
    width: 100%;
  }
}

.tomDancer:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
